.title {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.title h1 {
    font-weight: 600;
    font-size: 60px;
    margin-right: 15px;
}
.iconGit {
    width: 58px;
    height: 58px;
}

.textGit {
    width: 160px;
    height: 45px;
}