@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #1f1f1f;
    overflow: hidden;
}

.dNone {
    display: none;
}

/* FAZ REFERÊNCIA A SEGUNDA POSIÇÃO DO BACKGROUND-BLUE-RIGHT */
.circle2Search {
    position: relative;
    top: -100px;
    right: -350px;
}